.hideObject {
    display: none;
  }
  .haddata {
    display: none;
  }
  .unsetdata {
    display: unset;
  }
  .mat-drawer-shown {
    visibility: hidden !important;
  }
  
  .zerobadge0 {
    display: none;
  }
  