<form [formGroup]="formGroup">
  <div class="row">
    <div class="col-lg-2 col-xl-4 col-md-9 mx-auto">
      <div class="card mt-4">
        <div class="card-header text-white bg-login">
          <h3>Login 

          </h3>
          <div appAlert [error]="loginError" *ngIf="loginError"></div>
        </div>

        <div class="card-body">
          <div class="form-group form-row">

            <!-- this is a sample -->

            <mat-form-field floatLabel="auto" appearance="standard" color="primary" class="w-100">
              <!-- Float Label auto  never always-->
              <input type="email" matInput placeholder="Username" #myAutoFocus [(ngModel)]="loginViewModel.UserName"
                name="UserName" formControlName="username" [errorStateMatcher]="customErrorStateMatcher">
              <mat-label>Username</mat-label>
              <mat-hint align="end">up to 30 Characters</mat-hint>
              <mat-icon matPrefix>person</mat-icon>

              <mat-error *ngIf="getFormControl('username').hasError('required')"
                [innerHTML]="getErrorMessage('username', 'required')"></mat-error>


              <mat-error *ngIf="getFormControl('username').hasError('maxlength')"
                [innerHTML]="getErrorMessage('username', 'maxlength')"></mat-error>

            </mat-form-field>


          </div>

          <div class="form-group form-row">
            <mat-form-field floatLabel="auto" appearance="standard" color="primary" class="w-100">
              <input type="password" matInput [type]="hide ? 'password' : 'text'" class="form-control"
                placeholder="Password" [(ngModel)]="loginViewModel.Password" name="Password" formControlName="password"
                [errorStateMatcher]="customErrorStateMatcher" (keyup)="checkDataFired($event)">
              <mat-label>Password</mat-label>

              <mat-hint align="end">up to 30 Characters</mat-hint>
              <mat-icon matPrefix>vpn_key</mat-icon>
              <mat-icon id="eyeball" matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}
              </mat-icon>
              <mat-error *ngIf="getFormControl('password').hasError('required')"
                [innerHTML]="getErrorMessage('password', 'required')"></mat-error>


              <mat-error *ngIf="getFormControl('password').hasError('maxlength')"
                [innerHTML]="getErrorMessage('password', 'maxlength')"></mat-error>


            </mat-form-field>

          </div>
        </div>
        <div class="card-footer text-right">
          <!-- <span class="text-danger">{{loginError}}&nbsp;</span> -->
          <!-- <button class="btn btn-success fa fa-unlock" title="Login" (click)="onLoginClick($event)">&nbsp;Login</button> -->
          <button mat-stroked-button color="primary" type="submit" (click)="onLoginClick($event)">Login</button>
          <!-- <div *appRepeater="5; let i">
            <a class="btn btn-primary" data-toggle="collapse" [href]=" '#collapse' + i " role="button">Show Details</a>

            <div class="collapse" [id]=" 'collapse' + i">
              <div class="card card-body">
                Actual details here
              </div>
            </div>
          </div> -->

        </div>
      </div>
    </div>
  </div>
</form>